label {
    font-size: 21px;
    text-align: center;
}

.textInput{
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.buttonText{
    font-size: 22.5px;
    text-align: center;
}

.blue-bg{
    background-color: #bee5eb;
}